.ext-button {
    width: 150px;
    background-color: white !important;
    border: solid 1px #53BB14 !important;
    white-space: normal !important;
    color: #53BB14 !important;
    border-radius: 5px !important;
    align-items: center !important;
    display: inline-flex !important;
    gap: 0.4rem !important;
    font-size: 0.7rem !important;
    justify-content: space-between !important;
    font-weight: 600 !important;
    margin-bottom: 5px !important;
    padding: 5px;
    transition-duration: 0.4s;
    white-space: nowrap;
  }
  
.ext-add-individual-product-button {
    border: none;
    background: none;
  }
  
.left-container {
    display: flex;
    align-items: center;
  }
  
.ext-add-product-text {
    font-weight: bold;
    color: #333;
  }
  